/*20 px border around body
border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50
font: source sans pro (google fonts)
block quote (left border turned on)
Date - all caps, letter spacing
hr element between posts (lookup hr sytles)*/

body {
	border: 20px solid #bdc3c7;
	margin: 10%;
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	padding-left: 2%;
	padding-right: 2%;
}

h1 {
	padding-left: 2%;
}

h3 {
	padding-left: 2%;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px
}

.leftborder {
	border-left: 3px solid #bdc3c7;
	margin-left: 2%;
}